@import "style.css";

table {
	width: 100%;
	margin-top: 50px;
	border-collapse: collapse;
}

tr {
	position: relative;
	padding: 25px 0;
}

th {
	padding-bottom: 20px;
}

th:first-child {
	width: 50%;
}

tbody td {
	padding: 20px 0;
}

th:first-child {
	text-align: left;
}

th:last-child {
	text-align: right;
}

tbody tr {
	border-top: 1px solid var(--foreground-alt);
	border-bottom: 1px solid var(--foreground-alt);
}

.remove {
	position: absolute;
	top: calc(50% - 12.5px);
	right: -37.5px;
	width: 25px;
	height: 25px;
	box-sizing: content-box;
	cursor: pointer;
	transition: 0.3s;
}

.remove:hover {
	fill: var(--warning);
}

.product-column {
	display: flex;
	gap: 20px;
}

.product-column img {
	width: 100px;
	aspect-ratio: 1 / 1;
	object-fit: contain;
}

tfoot td {
	padding-top: 20px;
}

.quantity-column {
	display: flex;
	justify-content: center;
	align-items: center;
}

.quantity-column span {
	width: 40px;
	text-align: center;
}

.arrows {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.arrows svg {
	--length: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.arrows svg:hover {
	fill: var(--foreground-alt);
}

.subtotal-column {
	display: flex;
	justify-content: right;
}

#checkout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	max-width: 300px;
	margin-left: auto;
}

#checkout button {
	width: 100%;
}

@media screen and (max-width: 800px) {
	thead {
		display: none;
	}

	tr td:nth-child(2) {
		position: absolute;
		bottom: 30px;
		left: 120px;
		display: flex;
		align-self: center;
		padding: 0;
	}
}

@media screen and (max-width: 550px) {
	.product-column {
		flex-direction: column;
	}

	.product-column img {
		width: 50px;
	}

	tr td:nth-child(2) {
		top: 30px;
		bottom: initial;
		left: 70px;
	}
}
