@import "/src/css/style.css";

table {
	width: 80%;
    max-width: 1920px;
    padding: 25px;
	border-collapse: collapse;
}

th {
    width: calc(100% / 3);
}

th:first-child {
	text-align: left;
}

th:last-child {
	text-align: right;
}

tbody td {
	border-top: 2px solid var(--foreground-alt);
	border-bottom: 2px solid var(--foreground-alt);
}

th, .product-column, .quantity-column, .subtotal-column, #checkout {
	padding: 25px;
}

.product-column {
	display: flex;
}

.product-column img {
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.product-column aside {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
}

.remove {
	margin-top: auto;
	width: 100px;
}

.remove:hover {
	border-color: var(--warning);
	background-color: var(--warning);
	color: var(--foreground);
}

.quantity-column {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.quantity-column p {
	width: 40px;
	text-align: center;
}

.arrows {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.arrows svg {
	width: 20px;
	height: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.arrows svg:hover {
	fill: var(--foreground-alt);
}

.subtotal-column {
	display: flex;
	justify-content: right;
}

#checkout {
	max-width: 300px;
	margin-left: auto;
}

#checkout p {
	display: flex;
	justify-content: space-between;
}

#checkout button {
	width: 100%;
	margin-top: 10px;
}
