@import "style.css";

/* notes

combine this file with login.css

*/

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    background-color: var(--background-alt);
}

form label {
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
}

input[name="subject"] {
    overflow: wrap;
}

form textarea {
    background-color: var(--background);
    resize: none;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

p {
    margin: 50px 0;
}

form input {
    background-color: var(--background);
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
}
