@import "style.css";

/* used in contact.html and login.html */

main {
	padding: 0;
	padding-bottom: 50px;
}

#login #logo {
	margin: 50px 0;
}

main p {
	margin: 25px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12.5px;
	width: 100%;
	max-width: 600px;
	padding: 50px;
	border-radius: 15px;
	box-shadow: 0 5px 10px 0 var(--background-alt);
	background-color: var(--background-alt);
}

form a {
	cursor: pointer;
	transition: 0.3s;
	color: var(--main);
}

form a:hover {
	color: var(--main-alt);
}

label {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	width: 100%;
}

#autofill {
	display: none;
	cursor: pointer;
	transition: 0.3s;
	animation: opacity 1s;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#autofill:hover {
	fill: var(--main);
}

form input {
	padding: 0 10px;
	margin-bottom: 12.5px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: var(--background);
}

form input[type="password"] {
	font: small-caption;
}

form input[type="submit"] {
	cursor: pointer;
	transition: 0.3s;
	margin-bottom: 0;
	background-color: var(--main);
	color: var(--foreground);
}

form input[type="submit"]:hover {
	background-color: var(--main-alt);
	color: var(--main-alt);
}

form input[type="submit"]:active {
	opacity: 0.5;
}

#password-container {
	position: relative;
	width: 100%;
}

#password-container input {
	padding-right: 50px;
}

form textarea {
	padding: 10px;
	width: 100%;
	resize: none;
	outline: none;
	margin-bottom: 12.5px;
	border: none;
	border-radius: 5px;
	background-color: var(--background);
}

#password-container svg {
	position: absolute;
	top: calc((50px - 20px) / 2);
	right: calc((50px - 20px) / 2);
	cursor: pointer;
}

#invalid {
	display: none;
	margin-top: 0;
	margin-bottom: 12.5px;
	text-align: center;
	color: var(--warning);
}
