@import "/src/css/style.css";

#main-section {
    display: flex;
    gap: 50px;
    margin: 50px;
}

/* ==================================================
    # banner styling
================================================== */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    background-color: var(--background-alt);
}

/* ==================================================
    # aside styling
================================================== */

aside {
    width: 25%;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
    border-top: 1px solid var(--foreground-alt);
}

#part-list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#price-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3px;
    margin-top: 40px;
    border-radius: 3px;
    background-color: var(--foreground-alt);
}

#price-slider p {
    position: absolute;
    top: -40px;
}

#price-slider p:first-of-type {
    left: 0;
}

#price-slider p:last-of-type {
    right: 0;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb { /* chrome */
    appearance: none;
    pointer-events: auto;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main);
}

input[type="range"]::-moz-range-thumb { /* firefox */
    pointer-events: auto;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main);
}

#progress-slider {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--main);
}

.checkbox-container {
    display: flex;
    gap: 10px;
}

.rating-stars {
    display: flex;
    align-items: center;
}

.rating-stars svg {
    width: 15px;
    height: 15px;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 2px solid var(--foreground-alt);
    border-radius: 5px;
    background-color: var(--foreground);
}

input[type="checkbox"]:hover {
    opacity: 0.8;
}

input[type="checkbox"]:checked {
    border-color: var(--main);
    background: url(../images/svg/check.svg);
    background-color: var(--main-alt);
    background-size: contain;
    background-position: center;
}

/* ==================================================
    # table styling
================================================== */

table {
    width: 75%;
}

thead {}

tbody {}

tr {}

th {
    height: 40px;
    text-align: left;
}

td {
    height: 80px;
}

td div {
    display: flex;
    align-items: center;
    height: 100%;
}

td div img {
    height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
}

.price-section {
    justify-content: space-between;
}

.price-section button {
    padding: 5px 20px;
}

.star {
    fill: var(--main);
}

.empty {
    fill: var(--foreground-alt);
}
