@import "style.css";

#products {
    display: flex;
    width: 100%;
    max-width: 1920px;
    gap: 50px;
    padding: 50px;
	padding-bottom: 0;
}

/* ==================================================
    # aside styling
================================================== */

aside {
    width: 25%;
}

/* part list */

#part-list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

#part-list h3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* filters */

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 0;
    border-top: 1px solid var(--foreground-alt);
}

/* price slider */

#price-slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3px;
    margin-top: 40px;
    border-radius: 3px;
    background-color: var(--foreground-alt);
}

#price-slider p {
    position: absolute;
    top: -40px;
}

#price-slider p:first-of-type {
    left: 0;
}

#price-slider p:last-of-type {
    right: 0;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb { /* chrome */
    appearance: none;
    pointer-events: auto;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main);
}

input[type="range"]::-moz-range-thumb { /* firefox */
    appearance: none;
    pointer-events: auto;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--main);
}

#progress-slider {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--main);
}

/* checkboxes */

.checkbox-container {
    display: flex;
    gap: 10px;
}

input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid var(--foreground-alt);
    border-radius: 5px;
    background-color: var(--foreground);
}

input[type="checkbox"]:hover {
    opacity: 0.8;
}

input[type="checkbox"]:checked {
    border-color: var(--main);
    background: url(../images/svg/check.svg);
    background-color: var(--main-alt);
    background-size: contain;
    background-position: center;
}

/* rating */

.star-rating {
    display: flex;
    align-items: center;
}

.star-rating svg {
    width: 15px;
    height: 15px;
}

/* ==================================================
    # table styling
================================================== */

table {
    width: 75%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid var(--foreground-alt);
}

th {
    height: 40px;
	text-align: left;
}

td {
    width: calc(100% / 3);
    height: 150px;
}

td div {
    display: flex;
    align-items: center;
}

/* name */

.name-section img {
    height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: center;
}

.name-section p {
    padding: 0 20px;
}

/* rating */

.star {
    fill: var(--main);
}

.empty {
    fill: var(--foreground-alt);
}

/* price */
.price-section {
    justify-content: space-between;
}
