@import "style.css";

#profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 25px;
	margin-top: 50px;
	padding: 50px;
	border-radius: 25px;
	background-color: var(--background-alt);
}

#picture img {
	width: 100%;
	max-width: 250px;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

#picture p {
	margin-top: 25px;
	text-align: center;
}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

#information h3 {
	margin-top: 25px;
	padding: 10px 0;
	border-top: 1px solid var(--foreground-alt);
}

#log-in {
	margin-top: 50px;
}
