@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

:root {
    --background:       #282a36;
    --background-alt:   #21222c;
    --foreground:       #f8f8f2;
    --foreground-alt:   #929292;
    --main:             #eda920;
    --main-alt:         #eda92020;
	--warning:			#cc3d3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: normal;
    color: var(--foreground);
}

html { /* hides scrollbar on firefox */
    scrollbar-width: none;
}

html::-webkit-scrollbar { /* hides scrollbar on chrome */
    display: none;
}

#site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    overflow: hidden;
    background-color: var(--background);
}

svg {
	--length: 20px;
    width: var(--length);
	min-width: var(--length);
    height: var(--length);
	min-height: var(--length);
    fill: var(--foreground);
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	height: 2.5em;
    padding: 0 2em;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--background-alt);
}

button:hover {
    border-color: var(--main);
    color: var(--main);
}

button:active {
    border-color: var(--main-alt);
    color: var(--main-alt);
}

button svg {
	transition: 0.3s;
}

button:hover svg {
	fill: var(--main);
}

button:active svg {
	fill: var(--main-alt);
}

p {
	text-align: justify;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
}

h2 {
	margin-top: 50px;
	font-size: 2em;
	color: var(--foreground-alt);
}

h3 {
    font-size: 0.8em;
    text-transform: uppercase;
}

h4 {
	margin-bottom: 25px;
	font-size: 1.5em;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 25px;
    font-size: 2em;
    font-weight: bold;
	text-align: center;
    text-transform: capitalize;
    background-color: var(--background-alt);
}

/* ==================================================
    # header styling
================================================== */

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
}

.icon-text {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* logo and icons */

#logo-and-icons {
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 125px;
	padding: 0 25px;
	background-color: var(--background);
}

#logo {
	--height: 2em;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: var(--height);
}

#logo svg {
	width: var(--height);
	height: var(--height);
	fill: var(--main);
}

#icons {
	display: flex;
	gap: 25px;
}

#icons svg {
	--length: 35px;
	padding: 10px;
	box-sizing: content-box;
	transition: 0.3s;
}

#icons a:hover svg {
	fill: var(--main);
}

#cart {
	position: relative;
}

#cart-notice {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border: 2px solid var(--background);
	border-radius: 50%;
	font-size: 60%;
	transition: 0.3s;
	background-color: var(--foreground);
	color: var(--background);
}

#cart:hover #cart-notice {
	background-color: var(--main);
}

#hamburger {
	display: none;
}

/* search and navbar */

#search-and-navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#search {
	--side-position: 10px;
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 500px;
	height: 75px;
}

#search input {
	width: 100%;
	height: 50%;
	padding: 0 40px;
	border: none;
	border-radius: 5px;
	background-color: var(--background-alt);
}

#search input:focus {
	outline: 2px solid var(--main);
}

#search svg {
	position: absolute;
	cursor: pointer;
}

#search svg:first-of-type {
	left: var(--side-position);
}

#search svg:last-of-type {
	display: none;
	right: var(--side-position);
}

#navbar nav {
	position: relative;
	z-index: 10;
	display: flex;
	gap: 100px;
}

#navbar nav a {
	display: flex;
	align-items: center;
	height: 50px;
}

#navbar nav a svg {
	transition: 0.3s;
}

#navbar nav a:hover svg {
	fill: var(--main);
}

a.browse-components {
	cursor: pointer;
}

a.browse-components.active svg {
	fill: var(--main);
}

a.browse-components.active svg:last-of-type {
	transform: rotate(180deg);
}

/* browse components */

div.browse-components {
	position: absolute;
	left: 0;
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	width: 100vw;
	padding: 25px;
	transform: translateY(-100%);
	transition: 0.3s;
	background-color: var(--background-alt);
}

div.browse-components.active {
	transform: translateY(0);
}

.component-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: 250px;
	border: 1px solid var(--foreground-alt);
	border-radius: 5px;
	transition: 0.3s;
	background-color: var(--background);
}

.component-card:hover {
	border-color: var(--main);
	box-shadow: inset 0 0 0 2px var(--main);
	background-color: var(--main-alt);
}

.component-card img {
	width: 150px;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	object-position: center;
}

/* ==================================================
    # main styling
================================================== */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 50px;
	padding-top: 0;
}

/* ==================================================
    # footer styling
================================================== */

footer {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 50px;
	margin-top: auto;
    padding: 50px;
	background-color: var(--background-alt);
}

#directory {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}

.directory-column {
	display: flex;
	flex-direction: column;
}

.directory-column:last-of-type {
	text-align: right;
}

.directory-column a {
	padding: 10px 0;
	font-size: 0.8em;
	transition: 0.3s;
	color: var(--foreground-alt);
}

.directory-column a:hover {
	color: var(--main);
}

/* ==================================================
    # media queries
================================================== */

@media screen and (max-width: 1024px) {
	#hamburger {
		display: inline;
		cursor: pointer;
	}

	#hamburger.active svg {
		fill: var(--main);
		transform: rotate(90deg);
	}

	#search-and-navbar {
		position: absolute;
		top: 0;
		z-index: 5;
		transform: translateY(-100%);
		transition: 0.3s;
	}

	#search-and-navbar.active {
		transform: translateY(125px);
	}

	#search {
		--side-position: 60px;
		width: 100vw;
		max-width: none;
		padding: 0 50px;
		background-color: var(--background);
	}

	#navbar nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
		width: 100vw;
		padding: 0 25px;
		background-color: var(--background);
	}
}

@media screen and (max-width: 550px) {
	#logo-and-icons {
		justify-content: center;
		flex-direction: column;
	}
}
