@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

:root {
    --background:       #282a36;
    --background-alt:   #21222c;
    --foreground:       #f8f8f2;
    --foreground-alt:   #;
    --main:             #eda920;
    --highlight:        #;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 15px;
    color: var(--foreground);
}

body {
    overflow-x: hidden;
    background-color: var(--background-alt);
}

svg {
    width: 20px;
    height: 20px;
    fill: var(--foreground);
}

button {
    width: 150px;
    height: 50px;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--background-alt);
}

button:hover {
    border-color: var(--main);
    color: var(--main);
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

/* ==================================================
    # header styling
================================================== */

header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--background);
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

#logo {
    position: absolute;
    left: 25px;
}

#logo svg {
    width: 2em;
    height: 2em;
    fill: var(--main);
}

#logo p {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#icons {
    position: absolute;
    right: 25px;
    display: flex;
    gap: 25px;
}

#icons svg {
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: content-box;
    transition: 0.3s;
}

#icons a:hover svg {
    fill: var(--main);
    background-color: var(--background-alt);
}

#cart {
    position: relative;
}

#cart div {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 1px solid var(--background);
    border-radius: 10px;
    font-size: 10px;
    transition: 0.3s;
    background-color: var(--foreground);
    color: var(--background);
}

#cart:hover div {
    border-color: var(--background-alt);
    background-color: var(--main);
    color: var(--background-alt);
}

#search-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 75px;
}

#search-field input {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--background-alt);
}

#search-field input:focus {
    outline: 2px solid var(--main);
}

#search-field svg:first-of-type {
    position: absolute;
    left: 10px;
}

#search-field svg:last-of-type {
    position: absolute;
    right: 10px;
    display: none;
    cursor: pointer;
}

/* ==================================================
    # nav styling
================================================== */

nav {
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: var(--background);
}

#nav-links {
    display: flex;
    gap: 100px;
}

#nav-links a {
    height: 50px;
}

#nav-links svg {
    transition: 0.3s;
}

#nav-links li:hover svg {
    fill: var(--main);
}

li.browse-products {
    cursor: pointer;
}

li.browse-products.active svg {
    fill: var(--main);
}

li.browse-products.active svg:last-child {
    transform: rotate(180deg);
}

section.browse-products {
    position: absolute;
    top: -400px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 400px;
    padding: 50px;
    overflow-x: scroll;
    transition: 0.3s;
    background-color: var(--background-alt);
}

section.browse-products.active {
    top: 125px;
}

section.browse-products a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 20px;
    border: 1px solid var(--foreground);
    background-color: var(--background);
}

section.browse-products a:hover {
    border-color: var(--main);
    color: var(--main);
}

section.browse-products a img {
    width: 200px;
    height: 200px;
    object-position: center;
    object-fit: contain;
}

/* ==================================================
    # main styling
================================================== */

main {}

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 125px);
    background: linear-gradient(#00000010, #00000090);
}

.arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.arrow:first-of-type {
    left: 25px;
}

.arrow:last-of-type {
    right: 25px;
}

#hero-slides {
    display: flex;
}

.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 125px);
}

.slide img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 100px;
}

#dots {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 25px;
}

.dot {
    width: 25px;
    height: 25px;
    border: 2px solid var(--foreground);
    border-radius: 50%;
}

.dot.fill {
    background-color: var(--foreground);
}

/* ==================================================
    # footer styling
================================================== */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
