@import "style.css";

table {
	width: 100%;
	margin-top: 50px;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding-bottom: 20px;
}

th:first-child {
	max-width: 150px;
}

th:last-child {
	text-align: right;
}

tbody tr {
	border-top: 1px solid var(--foreground-alt);
	border-bottom: 1px solid var(--foreground-alt);
}

tbody td {
	padding: 20px 0;
}

.selection-column {
	display: flex;
	align-items: center;
	gap: 20px;
}

.selection-column img {
	width: 80px;
	aspect-ratio: 1 / 1;
	object-fit: contain;
	object-position: center;
}

.component-column, .choose-column button {
	text-transform: capitalize;
}

.price-column {
	text-align: right;
}

tr {
	position: relative;
}

.remove {
	position: absolute;
	right: -37.5px;
	cursor: pointer;
	transition: 0.3s;
}

.remove:hover {
	fill: var(--warning);
}

tfoot td {
	padding-top: 20px;
}

#parts-to-cart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	max-width: 300px;
	margin-left: auto;
}

#parts-to-cart button {
	width: 100%;
}

@media screen and (max-width: 750px) {
	thead {
		display: none;
	}

	tbody td {
		display: flex;
		flex-direction: column;
	}
}
